@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Inter';
    display: inline;
}

body{
    background-color:#043873;
}

header{
    height: 10vh;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;

    color: white;
}

#logo{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 5%;

    font-weight: 700;
    font-size: 28px;

    margin-right: 10%;
}

li{
    display: inline;
    margin: 0 1vw;

    font-size: 18px;
    font-weight: 500;
}

select{
    color: white;
    border-style: none;
    background: none;
}

button{
    height: 75%;
    width: fit-content;
    padding: 0 2%;
    width: fit-content;
    background-color: #4F9CF9;
    color: white;

    border-style: none;
    border-radius: 8px;

    font-size: 18px;
    font-weight: 500;
}

.seta{
    margin-left: 1vw;
}

#botao_login{
    background-color: #FFE492;
    color: #043873;
}

.pagina1{
    height: 90vh;

    background-image: url(img/imagem_fundo.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;

    color: white;
}

h2{
    font-weight: 700;
    font-size: 64px;
}

.pagina1 > p{
    font-weight: 400;
    font-size: 18px;
}

.pagina1 > button{
    margin-top: 10vh;
    height: fit-content;
    padding: 1% 2%;
}

.pagina2{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    background-color: #DBDBDB;
}

footer{
    height: 10vh;
    margin: 0 10vw;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    color: white;
}