@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');

body{
    background-color:#043873;
    margin: 0;
    padding: 0;
    font-family: 'Inter';
}

header{
    height: 10vh;
    padding: 0 10%;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    color: white;
}

#logo{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 5%;

    
    margin-right: 10%;
}

#logo > h2{
    font-weight: 700;
    font-size: 28px;

}

#logo > img{
    height: 28px;
    width: auto;
}

ul{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
}

li{
    display: inline;
    margin: 0 1vw;

    font-size: 18px;
    font-weight: 500;
}

select{
    color: white;
    border-style: none;
    background: none;
}

#botoes_header{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 1vw;
}

#icone_menu{
    display: none;
}

button{
    height: 6vh;
    width: fit-content;
    padding: 2vh 1.5vw;
    background-color: #4F9CF9;
    color: white;

    border-style: none;
    border-radius: 8px;

    font-size: 18px;
    font-weight: 500;
}

.seta{
    margin-left: 1vw;
}

#botao_login{
    background-color: #FFE492;
    color: #043873;
}

.pagina1{
    height: 90vh;
    padding: 0 10%;

    background-image: url(../img/imagem_fundo.png);
    background-repeat: no-repeat;
    background-position: center;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;

    color: white;
}

.pagina1 > h2{
    font-weight: 700;
    font-size: 64px;
}

p{
    font-weight: 400;
    font-size: 18px;
}

.botao{
    margin-top: 5vh;
    height: fit-content;
}

.pagina2{
    height: 90vh;
    padding: 0 10%;
    background-color: white;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    
}

.pagina2 > img{
    height: 50%;
    width: auto;
}

#titulo{
    font-weight: 700;
    font-size: 72px;
}

.pagina2 > div{
    width: 50%;
    height: auto;
    justify-self: flex-end;
    order: 1;
}

footer{
    height: 10vh;
    padding: 0 10%;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    color: white;
}

nav{
    margin: 0;
    padding: 0;
    justify-self: flex-start;
}

footer li{
    font-size: 16px;
}

#redes_sociais{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 2vw;
}

@media (min-width: 769px) and (max-width: 1260px){
    #botoes_header{
        display: none;
    }
    
    #icone_menu{
        display: block;
    }

    .pagina1{
        align-items: center;
        text-align: center;
    }

    .pagina1 > h2{
        font-size: 54px;
    }

    .pagina2{
        height: auto;
        display: block;
        text-align: center;
    }

    .pagina2 > div{
        padding: 10% 0;
        margin: auto;
    }

    #titulo{
        font-size: 54px;
    }

    .pagina2 > img{
        margin-bottom: 10%;
    }

    footer{
        display: flex;
        flex-flow: column wrap;
        justify-content: space-around;
        align-items: center;
    }

    #redes_sociais{
        display: none;
    }
}

@media (max-width: 768px){
    #botoes_header{
        display: none;
    }
    
    #icone_menu{
        display: block;
    }

    .pagina1{
        align-items: center;
        text-align: center;
    }

    .pagina1 > h2{
        font-size: 36px;
    }

    .pagina2{
        height: auto;
        display: block;
        text-align: center;
    }

    .pagina2 > div{
        padding: 10% 0;
        margin: auto;
    }

    #titulo{
        font-size: 36px;
    }

    .pagina2 > img{
        width: 50%;
        height: auto;
        margin-bottom: 10%;
    }

    footer{
        height: auto;

        display: flex;
        flex-flow: column wrap;
        justify-content: space-around;
        align-items: center;
    }

    footer ul{
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-around;
        align-items: center;
        gap: 2vw;
    }

    #redes_sociais{
        display: none;
    }
}